@page
@model AboutModel
@{
    ViewData["Title"] = "O nama";
}
<h2>@ViewData["Title"]</h2>
<h3>
    Dragi tour-operatori, turističke agencije i naši cijenjeni gosti
</h3>

<p>
    Kako zamišljate savršenu turističku agenciju sa kojom bi ste željeli sarađivati i imati za partnera? Pretpostavljamo da tražite nekoga sa najdužim iskustvom, nekoga sa najvećim znanjem i najboljom kompetencijom na svim poljima turizma? Nekoga sa povjerljivim, marljivim i specijaliziranim timom, te nekoga ko iza sebe ima uspjeh i najbolju reputaciju kako lokalno tako i globalno? Nekoga čiji je moto biti korak ispred svih Vaših očekivanja…
</p>
<br />
<p>
    Pa da Vam čestitamo: našli ste partnera kojeg ste i tražili!
</p><br />
<img src="~/images/signature.png" class="col-md-2" />
