@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Alekse Šantića 5<br />
    71000 Sarajevo, BiH<br />
    <abbr title="Phone">P:</abbr>
    Tel: +387 33 263 190
    Fax: +387 33 551 400
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">etravel@etravel.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@etravel.com</a>
</address>


