@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row homePageHeader">
        <div class="col-md-12">
            <div class="col-md-12" >
                <img src="~/images/logo.jpg" class="col-md-3 col-md-offset-4 img-responsive img-circle" />
                <h1 class="col-md-12">Dobrodošli na eTravel</h1>
            </div>

        </div>
    </div>
    <div class="row">
        <a asp-action="Index" asp-controller="Agencije" class="col-md-3">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/agencija.png" class="col-md-12 img-responsive" />
                <h4>Agencije</h4>
            </div>
        </a>
        <a asp-action="Index" asp-controller="Putovanje" class="col-md-3">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/putovanje.jpg" class="col-md-12 img-responsive" />
                <h4>Putovanja</h4>
            </div>
        </a>
        <a asp-action="Index" asp-controller="Uplata" class="col-md-3">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/16-512.png" class="col-md-12 img-responsive" />
                <h4>Uplate</h4>
            </div>
        </a>
        <a asp-action="Index" asp-controller="Klijent" class="col-md-3">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/klijent.jpg" class="col-md-12 img-responsive" />
                <h4>Klijenti</h4>
            </div>
        </a>

    </div>


</div>
<div class="footer">
    <p>
        &copy; 2019 eTravel. All rights reserved.<br />
        Web by <a href="https://www.linkedin.com/in/emina-custovic/">EMINA</a>
    </p>
</div>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: rgb(34,34,34);
        color: rgb(155,155,155);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .footer p {
            margin: 30px;
        }
</style>